.pinky{
    background-color:antiquewhite;
}
.msg{
    text-align: justify;
}

.list{
    list-style-type:none;
}
.list a{
    color: white;
    font-weight:bold;
    line-height:2;
}
.list a:hover{
    color:red;
}


.list_2{
    list-style-type:none;
}
.list_2 li{
    display: inline;
    padding-right:15px ;
}
.list_2 a{
    color: white;
    font-weight:bold;
}
.list_2 a:hover{
    color:red;
}